.activeFiles{
    background-color: #181717;
}

.fileCloseBtn{
    height: 9px;
    width: 9px;
    font-weight: bold;
    margin: 0 5px 0 5px;
    padding: 5px;
    border-radius: 3px;
}

.fileCloseBtn:hover{
    background-color: red;
}

.activeFiles{
    display: flex;
    flex-direction: row;
}

.activeFile{
    color: rgb(255, 208, 0) !important;
}

.activeFiles li{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    margin: 10px 5px 10px 2px;
    padding: 0 10px;
    border-right: 2px solid #ffffff62;
}